.overview-container {
	position: absolute;
	// TODO: make fix for this absolute height
	top: 74px;
	left: 0;
	margin: 0;
	width: $sidebarWidth;
	height: calc(100vh - 74px);
	overflow: hidden;
	padding: 0 $padding;
	background-color: $off-white;

	.overview-item {
		margin-bottom: 1rem;
		transition: transform 0.15s ease, box-shadow 0.15s ease;

		&:hover {
			cursor: pointer;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
			transform: translateY(-3px);
			transition: transform 0.15s ease, box-shadow 0.15s ease;
		}

		a {
			@include aspect-ratio(16, 9);
			display: block;
			height: 100%;
			color: white;
		}

		button {
			color: $grey;
		}
	}
}