.overview-container {
	position: relative;
	flex: 0 0 $sidebarWidth;
	display: inline-block;
	margin: 0;
	height: calc(100vh - $toolbarHeight);
	overflow-x: hidden;
	overflow-y: scroll;
	padding: $padding;
	background-color: $off-white;
	&::-webkit-scrollbar {
    	display: none;
	}

	a {
		color: inherit;
	}
}
.overview-item {
	margin-bottom: 1rem;
	transition: transform 0.15s ease, box-shadow 0.15s ease;
	font-size: 0.2rem;
	overflow: hidden;

	&:hover {
		cursor: pointer;
		box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
		transform:  scale(1.05);
		transition: transform 0.15s ease, box-shadow 0.15s ease;

		.button-triangle {
			opacity: 1;
		}
	}
}