.slide-options {
    width: 100%;
    height: 100%;
	background-color: rgba(59, 59, 59, 0.9);
    z-index: 1;
    color: white;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0!important;
    pointer-events: none;
    transition: opacity 0.1s;

    h4 {
    	color: white;
    }
    input {
    	color: $grey;
    }
    &.active {
    	opacity: 1!important;
    	pointer-events: auto;
    }
}

.options-row {
	margin-bottom: 1rem;
}