.slide-container {
	position: absolute;
	top: 72px;
	left: 15rem;
	width: calc(100% - 16rem);
}
.slide {
	@include aspect-ratio(16, 9);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
	background-color: white;	
	padding: 1rem;
	transition: transform 0.15s ease, box-shadow 0.15s ease;
	overflow: hidden;

	&:last-of-type {
		margin-right: 0;
	}
}