$offset: $sidebarWidth + $padding + $margin;

#slide-container {
	z-index: 1;
	top: 0;
	left: $offset;
	width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 0 1rem 0 0;

  	&:fullscreen {
  		padding: 0;
  		cursor: none;

  		.options-button {
  			display: none;
  		}
  		* {
  			pointer-events: none;
  		}
  	}
}

.slide,
.slide-preview {
	@include aspect-ratio(16, 9);
	max-height: 100vh;
	width: 100%;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	padding: 1rem;

	h1, p {
		width: 100%;
	}

	h1 * {
		font-size: 1em;
		font-weight: inherit;
	}
	p {
		margin: 2em 0 1em 0; // Relative to font size for slide preview
	}

	.options-button {
		opacity: 1!important;
	}
}

.content {
	background-size: cover;
	background-position: center;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	[contenteditable='true'] {
		outline: none;
	}
}

.split-pane {
	flex-direction: row;
	align-items: stretch;
	h1, p {
		width: 100%;
	}

	h1 * {
		font-size: 1em;
		font-weight: inherit;
	}
	p {
		margin: 2em 0 1em 0; // Relative to font size for slide preview
	}
	.pane {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
 		flex: 0 1 50%;
		background-size: cover;
		background-position: center;
	}
}