$offset: $sidebarWidth + $padding + $margin;

#slide-container {
	z-index: 1;
	top: 0;
	left: $offset;
	width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 0 1rem 0 0;

  	&:fullscreen {
  		padding: 0;
  		cursor: none;

  		.options-button {
  			display: none;
  		}
  	}
}

.slide,
.slide-preview {
	@include aspect-ratio(16, 9);
	max-height: 100vh;
	width: 100%;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
	//transition: transform 0.15s ease, box-shadow 0.15s ease;
	overflow: hidden;
	padding: 1rem;

	h1 {
		//font-family: 'Open sans';
		text-transform: uppercase;
		color: $grey;
		text-align: center;
		// mix-blend-mode: multiply;
		// white-space: pre-wrap;

		* {
			font-size: 1em;
			font-weight: inherit;
		}
	}

	.options-button {
		opacity: 1!important;
	}
}

.content {
	background-size: cover;
	background-position: center;
	background-color: white;

	[contenteditable='true'] {
		outline: none;
	}
}
