.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0.5rem 1rem;
//	box-shadow: 0 1px 5px rgba(148,135,132,.15);
	background-color: white;
	color: white;
	border-bottom: 1px solid $grey-light;
}