/**
 * TYPOGRAPHIC SCALE | GOLDEN RATIO FTW
 */
$h1-size: 6.854em;
$h2-size: 4.236em;
$h3-size: 2.618em;
$h4-size: 1.618em;
$m-size: 0.9rem;
$s-size: 0.618rem;
$line-height: 1.65rem;


/**
 * BASE
 */
html {
	font-size: 16px;
	line-height: $line-height;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
	color: $grey;
}

/**
 * HEADINGS
 */
h1 {
	font-family: 'Dosis', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	font-size: $h1-size;
  	line-height: 1em;
	margin: 0;
}
h2 {
	font-family: 'Dosis', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	font-size: $h2-size;
  	line-height: $line-height;
	color: $grey;
	margin: 1em;
}
h3 {
	font-family: 'Dosis', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	font-size: $m-size;
  	line-height: $line-height;
	color: $grey;
	text-transform: uppercase;
	margin: 0;
}


/**
 * GENERAL
 */
p {
	margin-bottom: 0.7em;
	line-height: $line-height;
}
small {
	font-size: $s-size;
}
strong {
	font-weight: 600;
}


/**
 * LINKS
 */
a {
  	color: $blue;
  	text-decoration: none;
  	cursor: pointer;

  	&:hover {
  		text-decoration: underline;
  	}
}