.fadeIn-appear,
.fadeIn-enter {
	// transform: translateY(4%);
	opacity: 0;
	//will-change: transform;
	//transition-delay: 0.2s;
}
.fadeIn-appear.fadeIn-appear-active,
.fadeIn-enter.fadeIn-enter-active {
	opacity: 1;
	// transform: translateY(0%);
	transition: opacity 0.5s ;
}
.fadeIn-leave {
  	opacity: 1;
	// transform: translateY(4%);
}

.fadeIn-leave.fadeIn-leave-active {
  	opacity: 0;
	// transform: translateY(4%);
	transition: opacity 0.5s ;
}