// Only fullscreen animations, editing should be FAST

.fadeIn-appear,
.fadeIn-enter {
	opacity: 0;
}
.fadeIn-appear.fadeIn-appear-active,
.fadeIn-enter.fadeIn-enter-active {
	opacity: 1;
	transition: opacity 0.1s ;
}
.fadeIn-leave {
  	opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  	opacity: 0;
	transition: opacity 0.1s ;
}

*:fullscreen {
	.fadeIn-appear,
	.fadeIn-enter {
		opacity: 0;
	}
	.fadeIn-appear.fadeIn-appear-active,
	.fadeIn-enter.fadeIn-enter-active {
		opacity: 1;
		transition: opacity 0.5s ;
	}
	.fadeIn-leave {
	  	opacity: 1;
	}

	.fadeIn-leave.fadeIn-leave-active {
	  	opacity: 0;
		transition: opacity 0.5s ;
	}
}