$buttonHeight: 2.125rem;

.button {
	display: inline-block;
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 0.25rem 0.5rem;
	background-color: $green;
	font-family: 'Dosis', 'Helvetica Neue', Helvetica, sans-serif;
	color: white;

	&:hover {
		background-color: darken($green, 10%);
	}

	&.mirrored {
		transform: rotate(180deg);
	}
}

.button-triangle {
	position: absolute;
	top: -1.5rem;
	right: -1.5rem;
	background-color: $red;
	border-radius: 0;
	padding: 0;
	width: 3rem;
	height: 3rem;
	opacity: 0;
	transform: rotate(45deg);
	transition: opacity 0.1s ease-out;

	&:hover {
		background-color: darken($red, 10%);
	}

	.icon {
		transform: rotate(45deg);
		position: absolute;
		z-index: 1;
		bottom: 0.3rem;
		left: 1.2rem;
		width: 10px;
		height: 10px;
	}
}

.transport-buttons {
	height: $buttonHeight;
	text-align: center;

	button {
		position: relative;
		height: $buttonHeight;
		width: $buttonHeight;
		border-radius: 50%;
	}

	.icon {
		display: inline-block;
		position: absolute;
		top: ($buttonHeight - 0.8)/2;
		left: 0;
		right: 0;
		height: 0.8rem;
		width: auto;
		margin: 0 auto;
		padding-right: 0.1rem;
	}
}