.button {
	display: inline-block;
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 0.25rem 0.5rem;
	background-color: $orange;
	font-family: 'Dosis', 'Helvetica Neue', Helvetica, sans-serif;
	color: white;

	&:hover {
		background-color: darken($orange, 10%);
	}
}